{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}} - {{ student.admin.last_name }}, {{ student.admin.first_name }}</h3>
                        <div class="card-tools">
                            <a href="{% url 'staff_manage_students' %}" class="btn btn-secondary btn-sm">
                                <i class="fas fa-arrow-left"></i> Back to Students
                            </a>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                        {{ form.first_name }}
                                        {% if form.first_name.errors %}
                                            <div class="text-danger">{{ form.first_name.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                        {{ form.last_name }}
                                        {% if form.last_name.errors %}
                                            <div class="text-danger">{{ form.last_name.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.email.id_for_label }}">Email</label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div class="text-danger">{{ form.email.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.gender.id_for_label }}">Gender</label>
                                        {{ form.gender }}
                                        {% if form.gender.errors %}
                                            <div class="text-danger">{{ form.gender.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.password.id_for_label }}">Password</label>
                                        {{ form.password }}
                                        <small class="form-text text-muted">Leave blank to keep current password</small>
                                        {% if form.password.errors %}
                                            <div class="text-danger">{{ form.password.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.session.id_for_label }}">Session</label>
                                        {{ form.session }}
                                        {% if form.session.errors %}
                                            <div class="text-danger">{{ form.session.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.profile_pic.id_for_label }}">Profile Picture</label>
                                        {{ form.profile_pic }}
                                        {% if student.admin.profile_pic %}
                                            <div class="mt-2">
                                                <small class="text-muted">Current:</small><br>
                                                <img src="{{ student.admin.profile_pic.url }}" alt="Current Profile" class="img-thumbnail" style="width: 100px; height: 100px;">
                                            </div>
                                        {% endif %}
                                        {% if form.profile_pic.errors %}
                                            <div class="text-danger">{{ form.profile_pic.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="{{ form.address.id_for_label }}">Address</label>
                                        {{ form.address }}
                                        {% if form.address.errors %}
                                            <div class="text-danger">{{ form.address.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Update Student
                            </button>
                            <a href="{% url 'staff_manage_students' %}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
